<h4>{{status}}</h4>
<form action="/auth/sign-in" method="POST">
    <div class="container">
        <label><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username">
        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password">

        <button type="submit">Sign In</button>

        <a href="/auth/sign-up">Register</a>
    </div>
</form>
